<div>
    <h1>Listado de productos:</h1>
</div>
<div> 
    {{#each body.products}}
        <ul>
            <li>id: {{this.id}}</li>
            <li>Nombre producto: {{this.title}}</li>
            <li>Descripcion: {{this.description}}</li>
            <li>Codigo: {{this.code}}</li>
            <li>Precio: ${{this.price}}</li>
            <li>Stock: {{this.stock}}</li>
            <li>Categoria: {{this.category}}</li>
        </ul>
    {{/each}}
</div>
{{!-- <script src="/socket.io/socket.io.js" ></script>
<script src="/js/index.js" ></script> --}}
